@model IList<DogAdoptionInterviewsReviews> 

<!DOCTYPE html>
<html>
<head>
    <style>
        h1{
            color:black;
            font:bold
        }
        p {
            display: inline;
            color: black;
            word-wrap: break-word;
            width: 70%;
            font-size:20px
        }
        .info {
            
            padding: 5px 100px;
            text-align:center
        }
        .divInfo {
            width: 90%;
        }
        .nk-post-text {
            margin-top: 20px;
            text-align: center
        }
        .approve {
            float:left
        }
        .disapprove {
            float:right
        }
        .h1{
            font-weight: bold
        }
      
    </style>
</head>
<body style="margin-top:150px">
    @if(Model.Count() == 0)
            {
               <div div align="center" class="container" style="height: 300px; width:300px">
                   <h3>
                       No interviews for review at the moment!
                   </h3>
               </div>
            }

    <div class="wrapper">
        <div class="inner">
            <form>
                @foreach (var dog in Model)
                {
                <div class="info" style="width:65%; margin-left:300px">


                    <div class="form-group" >
                        <label for="exampleFormControlInput1">Animal name</label>
                        <p class="form-control">
                            @dog.Name
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Home information</label>
                        <p class="form-control">
                            @dog.HomeInformation
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Own home</label>
                        <p class="form-control">
                            @dog.OwnHome
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Breed explanation</label>
                        <p class="form-control">
                            @dog.BreedExplanation
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Hours alone</label><br />
                        <p class="form-control">
                            @dog.HoursAlone
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Allergies in family</label>
                        <p class="form-control">
                            @dog.AllergiesInFamily
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Enclosure</label><br />
                        <p class="form-control">
                            @dog.Enclosure
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Vet knowledge</label>
                        <p class="form-control">
                            @dog.VetKnowledge
                        </p>
                    </div>
                    <div style="text-align:center; margin-top:20px;">

                       
                        <a class="btn btn-primary btn-sm" asp-controller="Adoption" asp-action="Approve" asp-route-dogId="@dog.Id" style="margin-right:20px">Approve</a>
                        <button class="btn btn-primary btn-sm">
                            Disapprove
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>

                </div>

                    <br />
                    <div style="border-bottom: 2px solid red">

                    </div>

                }

            </form>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>