@model IEnumerable<AllAppointmentsViewModel>
<table class="table table-striped" style="margin-top: 100px; table-layout: fixed">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Start Hour</th>
            <th>Date</th>


        </tr>
    </thead>
    <tbody>
    @foreach (var appointment in Model)
    {
        <tr style="overflow-wrap: break-word" >
            <td>@appointment.FullName</td>
            <td>@appointment.Phone</td>
            <td >@appointment.Description</td>
            <td>@appointment.StartHour</td>
            <td>@appointment.Date</td>

        </tr>


    }
    </tbody>
</table>