@using Microsoft.CodeAnalysis.CSharp.Syntax
@model AllAnimalsQueryModel

    <!-- ==== body starts ==== -->
    <body>
   
    <div class="jumbotron jumbotron-fluid overlay">
        <div class="jumbo-heading">

            <!-- section-heading -->
            <div class="section-heading" data-aos="zoom-in">

                <h1>Adoption</h1>
            </div>
            <!-- /section-heading -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Adoption</li>
                </ol>
            </nav>
        </div>
        <!-- /jumbo-heading -->
    </div>
    <!-- /jumbotron -->
    <!-- ==== Page Content ==== -->
    <div class="page">
    <div class="container block-padding pt-0">
        @if (Model.TotalAnimals == 0)
        {
            <div class="col-lg-8 offset-lg-2 text-center">
                <h3>
                    No animals available for adoption at the moment!
                </h3>
            </div>
        }
        
            <!-- First row: Adopt a pet -->
            @if (Model.TotalAnimals > 0)
        {

            <div class="card" style="background: #FBF4DE; margin-left: 420px">

                <form method="get">
                    <div class="card-body">
                        <div class="input-group">
                            <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Search for..." id="search">
                            <span class="input-group-btn">

                                <button class="btn btn-secondary" type="submit" asp-controller="Animal" asp-action="All">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        }



            <div class="row mt-5">
            <!-- Pet  -->
            @foreach (var animal in Model.Animals)
            {
               
                    <div class="adopt-card col-md-6 col-xl-3 res-margin">
                        <div class="card bg-light-custom">
                            <div class="thumbnail text-center">
                                <!-- Image -->


                                @foreach (var image in animal.AnimalImages.Take(1))
                                {
                                    <a asp-controller="Animal" asp-action="Details" asp-route-id="@animal.Id">
                                        <img src="/databaseFiles/Animals/@image.Name" class="border-irregular1 img-fluid" alt="">
                                    </a>
                                }


                                <!-- Name -->
                                <div class="caption-adoption">
                                    <h6 class="adoption-header">@animal.Name</h6>
                                    <!-- List -->
                                    <ul class="list-unstyled">
                                        <li><strong>Gender: </strong> @animal.Gender</li>
                                        @if (animal.Aggressive)
                                        {
                                            <li><strong>Aggressive: </strong> Yes</li>
                                        }
                                        else
                                        {
                                            <li><strong>Aggressive: </strong> No</li>
                                        }

                                        <li><strong>Age: </strong>@animal.Age</li>
                                        <li><strong>Breed: </strong>@animal.Breed</li>

                                    </ul>
                                    <!-- Buttons -->
                                    <div class="text-center">
                                        <a asp-controller="Animal" asp-action="Details" asp-route-id="@animal.Id" class="btn btn-primary">More Info</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /thumbnail -->
                        </div>
                        <!-- /card -->
                    </div>
             
            }
            <!-- /adopt-card -->
            </div>

            @{
                var previousPage = Model.CurrentPage - 1;
                if (previousPage < 1)
                {
                    previousPage = 1;
                }

                var maxDogs = Math.Ceiling((double)Model.TotalAnimals / AllAnimalsQueryModel.AnimalsPerPage);
            }


            @{ var shouldButtonBeDisabled = Model.CurrentPage == maxDogs |
                                            !Model.Animals.Any(); }


            <div class="col-md-12 mt-5">
                <!-- pagination -->
                <nav aria-label="pagination">
                    <ul class="pagination float-right">

                        <li class="page-item">
                            <a class="page-link @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                               asp-controller="Animal"
                               asp-action="All"
                               asp-route-currentPage="@(Model.CurrentPage + 1)"
                               asp-route-brand="@Model.Name"
                               asp-route-searchTerm="@Model.SearchTerm">Next page</a>
                        </li>

                        <li class="page-item">
                            <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                               asp-controller="Animal"
                               asp-action="All"
                               asp-route-currentPage="@previousPage"
                               asp-route-brand="@Model.Name"
                               asp-route-searchTerm="@Model.SearchTerm">Previous page</a>
                        </li>
                    </ul>
                </nav>
                <!-- /nav -->
            </div>
            <!-- /col-md -->
            <!-- /col-md -->
        </div>
        <!-- /container -->
    </div>
    
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/plugins.js"></script>
    <!-- Prefix free -->
    <script src="~/js/prefixfree.min.js"></script>
   
    </body>

