@model AnimalDetailsServiceModel

<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row bg-light-custom border-irregular1 block-padding">
                    <!-- image -->
                    <div class="col-lg-4 offset-lg-2">
                        <!-- owl slider -->
                        <div id="owl-adopt-single" class="owl-carousel top-centered-nav owl-theme">
                            @foreach (var image in Model.Images)
                            {

                                <div class="col-md-12">
                                    <!-- image -->
                                    <a href="~/databaseFiles/Animals/@image.Name" title="@Model.Name">
                                        <img src="~/databaseFiles/Animals/@image.Name" class="border-irregular1 img-fluid hover-opacity" alt="">
                                    </a>
                                </div>
                            }

                        </div>
                        <!-- /owl-carousel -->
                    </div>
                    <!-- /col-md -->
                    <!-- adoption info  -->
                    <div class="col-lg-4 res-margin mt-5 text-xs-center">
                        <h4><strong>Pet name:</strong> @Model.Name</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled pet-adopt-info">
                                    <li class="h7">Gender: <span>@Model.Gender</span></li>
                                    <li class="h7">Age: <span>@Model.Age years</span></li>
                                    <li class="h7">Breed: <span>@Model.Breed</span></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled pet-adopt-info">
                                    @if (@Model.Aggressive)
                                    {
                                        <li><strong>Aggressive: </strong> Yes</li>
                                    }
                                    else
                                    {
                                        <li><strong>Aggressive: </strong> No</li>
                                    }
                                    @if (@Model.Neutered)
                                    {
                                        <li class="h7">Neutered: <span> Yes</span></li>
                                    }
                                    else
                                    {
                                        <li><strong>Neutered: </strong> No</li>
                                    }
                                    @if (@Model.Vaccinated)
                                    {
                                        <li class="h7">Vaccinated: <span> Yes</span></li>
                                    }
                                    else
                                    {
                                        <li><strong>Vaccinated: </strong> No</li>
                                    }

                                </ul>
                            </div>
                            <!-- /div-->
                        </div>
                        <!-- /row-->
                        <label>My story:</label>
                        <p class="font-weight-bold">@Model.Description</p>
                        <!-- button -->
                 
                        @if (User.IsInRole("Administrator"))
                        {
                            <div>
                                <a asp-controller="Adoption" asp-action="Review" asp-route-dogId="@Model.Id" class="btn btn-primary"> Review interviews!</a>

                            </div>
                            <div>
                                <a asp-controller="Animals" asp-action="Edit" asp-area="Administration" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

                            </div>
                            <div>
                                <a asp-controller="Animals" asp-action="Remove" asp-area="Administration" asp-route-id="@Model.Id" class="btn btn-primary">Remove</a>
                            </div>
                          

                        }
                        else
                        {
                            <div>

                                <a asp-controller="Adoption" asp-action="Interview" asp-route-dogId="@Model.Id" class="btn btn-primary"> Adopt me!</a>

                            </div>
                        }


                    </div>
                    <!-- /col-md -->
                </div>
                <!-- /row-->
                <!-- /col-md-->
            </div>
            <!-- /col-lg-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-->
</div>