@model AllNewsQueryModel


<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Woof! Blog</h1>
        </div>
        <!-- /section-heading -->
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog Home</li>
            </ol>
        </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div id="blog-home" class="page">
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-lg-8">
                @if(Model.TotalNews == 0)
                {
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <h3>
                            No news available at the moment!
                        </h3>
                    </div>
                }

                @foreach (var news in Model.News)
                {
                    <!-- Blog Post -->
                    <div class="card blog-card">
                        <!-- Post info-->
                        <div class="post-info border-irregular2 text-muted">
                            @news.PublishedOn by
                            <a href="#">Lila Smith</a> / <a href="#"><i class="fas fa-comment margin-icon"></i></a>
                        </div>

                        <!-- image -->
                        @foreach (var image in news.NewsImages.Take(1))
                        {
                            <img class="card-img-top img-fluid" src="/databaseFiles/News/@image.Name" alt="">

                        }
                        <div class="card-body">
                            <a>
                                <h3 class="card-title">@news.Title </h3>
                            </a>
                            <!-- excerpt -->
                            <p class="card-text mt-3">@news.Body.Substring(0, 600)...</p>
                            <a asp-controller="News" asp-route-newsId="@news.Id" asp-action="Details" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                        <!--card-footer -->
                    </div>
                    <!-- /card blog-card -->
                }

                @{
                    var previousPage = Model.CurrentPage - 1;
                    if (previousPage < 1)
                    {
                        previousPage = 1;
                    }

                    var maxPage = Math.Ceiling((double) Model.TotalNews / AllNewsQueryModel.NewsPerPage);
                }


                @{ var shouldButtonBeDisabled = Model.CurrentPage == maxPage |
                                                !Model.News.Any(); }


                <div class="col-md-12 mt-5">
                    <!-- pagination -->
                    <nav aria-label="pagination">
                        <ul class="pagination float-right">

                            <li class="page-item">
                                <a class="page-link @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
                                   asp-controller="News"
                                   asp-action="All"
                                   asp-route-currentPage="@(Model.CurrentPage + 1)"
                                   asp-route-brand="@Model.Name"
                                   asp-route-searchTerm="@Model.SearchTerm">Next page</a></li>

                            <li class="page-item">
                                <a class="page-link @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                                   asp-controller="News"
                                   asp-action="All"
                                   asp-route-currentPage="@previousPage"
                                   asp-route-brand="@Model.Name"
                                   asp-route-searchTerm="@Model.SearchTerm">Previous page</a></li>
                        </ul>
                    </nav>
                    <!-- /nav -->
                </div>
                <!-- /col-md -->
            </div>
            <!-- /col-lg-8 -->
            <!-- Sidebar Widgets Column -->
            <div class="blog-sidebar bg-light-custom  h-50 border-irregular1 col-lg-4">
                <!-- Search Widget -->
                <div class="card">
                    <h5 class="card-header">Search</h5>
                    <form method="get">
                        <div class="card-body">
                            <div class="input-group">
                                <input asp-for="SearchTerm" type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit" asp-controller="News" asp-action="All">Go!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /page -->

