@using AnimalAdoptionCenter.Infrastructure
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model NewsCommentsModel


<!DOCTYPE html>
<div class="page">
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8 card blog-card">
                <div class="card-body">
                    <h3 class="card-title">@Model.NewsDetailsViewModel.Title</h3>
                    @foreach (var image in Model.NewsDetailsViewModel.NewsImages.Take(1))
                    {
                        <img class="card-img-top img-fluid" src="/databaseFiles/News/@image.Name" alt="">
                    }
                    <!-- Post info-->
                <div class="post-info border-irregular2 text-muted">
                    @Model.NewsDetailsViewModel.PublishedOn by
                    @if (Model.NewsDetailsViewModel.Comments.Count == 1)
                    {
                        <a>Lila Smith / </a> <i class="fas fa-comment margin-icon"></i> @Model.NewsDetailsViewModel.Comments.Count <a>Comment</a>

                    }
                    else
                    {
                        <a>Lila Smith / </a> <i class="fas fa-comment margin-icon"></i> @Model.NewsDetailsViewModel.Comments.Count <a>Comments</a>
                    }
                </div>
                    <hr>
                    <!-- Preview Image -->
                    <img src="img/blog.jpg" class="img-fluid" alt="">
                    <hr>
                    <!-- Post Content -->
                    @Model.NewsDetailsViewModel.Body
                    @if (User.IsInRole("Administrator"))
                    {
                        <div>
                            <a asp-controller="News" asp-action="Edit" asp-area="Administration" asp-route-id="@Model.NewsDetailsViewModel.Id" class="btn btn-primary">Edit</a>

                        </div>
                        <div>
                            <a asp-controller="News" asp-action="Delete" asp-area="Administration" asp-route-newsId="@Model.NewsDetailsViewModel.Id" class="btn btn-primary">Remove</a>
                        </div>

                    }
                    <!-- Comments Form -->
                    @*@if (User.Identity.IsAuthenticated)
                    {*@
                        <div class="card my-4 mt-5 bg-light-custom border-irregular1" style="margin-bottom: 20px">
                            <h5 class="card-header">Leave a Comment:</h5>
                            <div class="card-body">
                                <form method="post" asp-controller="Comments" asp-action="Add" asp-route-content="@Model.AddCommentFormModel.Content" asp-route-newsId="@Model.NewsDetailsViewModel.Id">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" type="text" id="content" name="content" asp-for="@Model.AddCommentFormModel.Content"></textarea>
                                    </div>
                                    <div >
                                        <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    @*}*@
                 
                    <!-- Comment -->
                    @foreach (var comment in Model.AllCommentsViewModel)
                    {
                        <div class="element-block bg-primary border-irregular1 text-light" style="margin-top:20px">

                            <!-- /col-md -->
                            
                                <h6 class="mt-2"><a href="">@comment.PublishedOn</a></h6>
                                <h6 class="mt-2"><a href="">@comment.Name</a> <small>says:</small></h6>
                            <p class="comment-news" style="margin-right: 100px"
                               >
                                    @comment.Comment

                                    @if (User.IsInRole("Administrator") || User.Name() == comment.Name)
                                    {
                                        <div style="float: right; margin-top: -50px">
                                    <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" asp-route-newsId="@Model.NewsDetailsViewModel.Id" class="alert alert-danger" role="alert" >
                                        Delete
                                    </a>
                                        </div>
                                    }
                                   
                                </p>
                            
                            <!--/media-body -->
                        </div>
                    }

                </div>
                <!--/Card-body -->
            </div>
            </div>
</div>
</div>